
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: rgb(6, 56, 35); 
    margin: 0 0 0 0;
    text-align: center;
    height: 100px;
    padding: 30px;
    position: absolute;
    width:1903px;
}

body{
    margin: 0px 0px;
    padding: 0;
    background-image: url("../images/mainbg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(19, 17, 17, 0.7);
    backdrop-filter: blur(10px); 
    max-width: 1903px;
}

.sec1{
    /* padding:250px; */
    /* background-color: rgba(67, 114, 63, 0.427); */
    /* margin: 0cap; */
    width: 1903px;
    /* border: 1px solid white; */
    height: 100vh;
    display: flex;
    align-items:flex-end ;
    justify-content: space-around;
}

.content_sec1{
    /* border: 1px solid white; */
    padding: 0 0 120px 0;
    /* display: block; */
    /* float: left; */
    font-family: 'Raleway', sans-serif;
}

.content_sec2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sec2{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding:500px; */
    height: 100vh;
    margin: 0cap;
    background-color: rgba(6, 56, 35, 0.7);
    max-width: 100%;
    
}

.picture1{
    margin-left: auto;
    border-radius: 10px; 
    overflow: hidden; 
    margin: 0 80px 120px 0;
    opacity: 0;
    transform: translateY(20px);
    animation: slideInAndFade 3s forwards;
    box-shadow: 0px 50px 80px rgba(0, 0, 0, 10);

}

footer{
    position: relative;
    bottom: 0;
    width:100%;
    height: 160px;
    background-color:rgb(19, 17, 17);
}

.sec1_options{
    /* display: inline-block; */
    /* border:1px solid red; */
    margin: 0cap;
    padding: 0cap;
}

.main_menu_options{
    color:#f8f8f8;
    font-size: 60px;
    padding-bottom: 0cap;
    margin: 0cap;
    font-family:sans-serif;
}
.navigation{
    font-family: sans-serif;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid rgb(6, 56, 35);
	background-color: FF4B2B;
	color: rgb(6, 56, 35);
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: rgb(6, 56, 35);
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
}

.log-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}


.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}


.overlay {
	/* background: #FF416C; */

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
}


.overlay-right {
	right: 0;
}


.social-container {
	margin: 50px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.formh1{
	font-weight: bold;
	margin: 0;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #131514;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  .statistics-container {
    text-align: center;
    margin-top: 50px;
}

.statistic-item {
    display: inline-block;
    margin: 0 20px;
}


/* Section 1 Options */
.sec1_options {
    opacity: 0;
    animation: fadeIn 3s forwards;
}

/* Picture 1 */
.picture1 {

}

/* Section 2 */
#loginsec.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: slideInAndFade 1s forwards;
}



/* Keyframe animations */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideInAndFade {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
